<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="RockON Automation: ActiTime 2.0">

<listeners>
	<listener
		class-name = "com.att.ExtentReportListener.ExtentReporterNG" /> 
</listeners>

//test123
	
<test name = "ActiTime">
	<classes>
		<class name = "com.att.testcases.HomeTest"> </class>
		<class name = "com.att.testcases.LoginTest"> </class>
		<class name = "com.att.testcases.BillingTypeTest"> </class>
		<class name = "com.att.testcases.CreateNewTasksTest"> </class>
		<class name = "com.att.testcases.LeaveTypeTest"> </class>
		<class name = "com.att.testcases.LicensesTest"> </class>
		<class name = "com.att.testcases.ReportsTest"> </class>
		<class name = "com.att.testcases.TasksTest"> </class>
		<class name = "com.att.testcases.CreateNewCustomerTest"> </class>
		<class name = "com.att.testcases.CreateNewProjectTest"> </class>
		<class name = "com.att.testcases.ProjectAndCustomerTest"> </class>
		<class name = "com.att.testcases.BillingSummaryReportExampleTest"> </class>
		<class name = "com.att.testcases.ChooseReportToCreateTest"> </class>

 
 	</classes>
</test>
</suite>
